node_modules/
.gradle/
/build/
app/build/
local.properties
*.jks
*.keystore
*.idsig
.DS_Store
Thumbs.db
unity/Library/
unity/Temp/
unity/Obj/
unity/Logs/
unity/UserSettings/
unity/Builds/
unity/MemoryCaptures/
unity/.vs/
unity/.utmp/
unity/Assets/Resources/PerformanceTestRun*.json*
unity/*.csproj
unity/*.sln*
